### Lab Mini Project  <br> Name :Alok Kumar<br>Admission No : 22MT0059<br>

#### Create a python program/application which asks users to fill up a form (say name, address, contact number etc) and inserts those values into a corresponding table in a database. Use git to manage the code.

In [1]:
import mysql.connector as sc
import time 
start = time.time()
myconn = sc.connect(user='ak', host='localhost', database='dbmslab')
end = time.time()
print("Time Taken to Establish Connection(sec): ",end-start)
print(myconn)

Time Taken to Establish Connection(sec):  0.025611162185668945
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021D8B72F190>

In [2]:
## Cursor
cursor = myconn.cursor(buffered =True)

In [3]:
## Creating Table : user_detail 
query = "create table user_detail\
(Name varchar(20),\
address varchar(50),\
contact int\
);"
cursor.execute(query)

In [8]:
### Taking Input From User 
name = input("Please Enter Your Name")
address = input("Please Enter Your Address")
contact = input("Please Enter Your Contact No:")
if(name.isnumeric() or contact.isalpha()):
    print("Invalid input Type")
else:
    query = "insert into user_detail(name ,address ,contact) values(%s,%s,%s);"
    cursor.execute(query,(name ,address,contact))
    print("Insertion SuccessFul")

Please Enter Your NameRohan
Please Enter Your AddressDhanbad
Please Enter Your Contact No:576845637
Insertion SuccessFul

In [9]:
### Checking User Entered Data is inserted in Database or Not 
query = "select * from user_detail"
cursor.execute(query)
for x in cursor:
    print(x)

('ALOK KUMAR', 'Lucknow', 123456789)
('Amit', 'Delhi', 456123789)
('Rohan', 'Dhanbad', 576845637)