In [ ]:
### LAB 8 <br>Name : Alok Kumar <br> Admission No. : 22MT0059

In [1]:
import mysql.connector as sc
import time 
start = time.time()
myconn = sc.connect(user='ak', host='localhost', database='dbmslab')
end = time.time()
print("Time Taken to Establish Connection(sec): ",end-start)
print(myconn)

Time Taken to Establish Connection(sec):  0.06498479843139648
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023EF18CF820>

In [2]:
## Cursor
cursor = myconn.cursor(buffered =True)

#### 1. Given input as salary of three months (jan, feb, march), <br>write a program that returns the total salary for quarter 1 (Q1).

In [4]:
print("Enter a salary to calculate the total salary for quarter1")
jan_salary = float(input("Enter salary of January :"))
feb_salary = float(input("Enter salary of February:"))
march_salary = float(input("Enter salary of March : "))
print("The total salary for quarter 1 : " ,jan_salary+ feb_salary + march_salary )

Enter a salary to calculate the total salary for quarter1
Enter salary of January :100
Enter salary of February:200
Enter salary of March : 300
The total salary for quarter 1 :  600.0